.my-style {
  font-size: 1.5em;
  color: white;
}

.center2 {
  margin: 0;
  position: absolute;
  top: 27%;
  left: 17%;
  transform: translate(0%, 0%);
  font-weight: bold;
  font-size: 2;
  line-height: 2.5em;
}

.small {
  font-size: 70%;
  line-height: 100%;

}

.milieu {
  top: 25%;
  margin: 0;
  position: absolute;
}

.milieu2 {
  top: 30%;
  margin: 0;
  right: 2%;
  position: absolute;
}

.low {
  top: 75%;
  right: 48%;
  left: 5%;
  margin: 0;
  position: absolute;
}